<a href="https://colab.research.google.com/github/gott51010/zhenXiang/blob/master/neta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! lscpu

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd

In [9]:
data = pd.read_csv ('/content/drive/MyDrive/技術共有会/labeledTrainData.csv')

In [ ]:
data.info()

In [8]:
data.head()

       id sentiment                                             review
0  5814_8         1  With all this stuff going down at the moment w...
1  2381_9         1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3         0  The film starts with a manager (Nicholas Bell)...
3  3630_4         0  It must be assumed that those who praised this...
4  9495_8         1  Superbly trashy and wondrously unpretentious 8...

In [55]:
import csv
from time import time

def test_time1():
  with open("/content/drive/MyDrive/技術共有会/labeledTrainData.csv") as f:
      reader = csv.reader(f)
      start = time()
      for row in reader:
        pass
      delta1 = time() - start
  return  "5w loop only time=%s"%delta1

delta1 = test_time1()
delta1

'5w loop only time=0.6919000148773193'

In [58]:
 def test_time2():
    with open("/content/drive/MyDrive/技術共有会/labeledTrainData.csv") as f:
        reader = csv.reader(f)
        start = time()
        for row in reader:
          for val in row:
            if val.find("1") != -1 : val = sorted(val)
        delta2 = time() - start
    return "5w loop with find&sort time=%s"%delta2

delta2 = test_time2()
delta2

'5w loop with find&sort time=4.712981700897217'

In [48]:
!pip install numba

Requirement already satisfied: numba in /usr/local/lib/python3.7/dist-packages (0.51.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba) (56.1.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from numba) (1.19.5)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba) (0.34.0)